<ion-header>
  <app-form-toolbar [toolbarInfo]="toolbar" (FormModeChange)="FormModeChanged($event)"
  (NewClick)="NewMasterClicked()" (SaveClick)="saveForm(crudManager)" 
   (DeleteClick)="DeleteForm(crudManager)" (EditClick)="EditClicked()" (VoiceRecorder)="getTextVoiceAndDo($event,crudManager)"></app-form-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="3" size-md="4" size-sm="6" size-xs="12" offset-lg="3" offset-md="2">
        <ion-item>
          <ion-label>Bank Name</ion-label>
          <ion-input [readonly]="!IsFormActive" [(ngModel)]="MasterRow.Name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-lg="3" size-md="4" size-sm="6" size-xs="12">
        <ion-item>
          <ion-label>Account</ion-label>
          <ion-input [readonly]="!IsFormActive" [(ngModel)]="MasterRow.AccountCode"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-grid-view [GridSetting]="gridSetting" (PageClicked)="GoToPage($event,crudManager)">
    <ion-row>
      <ion-col [appBorderControl]="'Grid,head'" size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="6" offset-lg="3" offset-md="2" offset-xl="4">Bank Name</ion-col>
      <ion-col [appBorderControl]="'Grid,head'" size-lg="3" size-md="4" size-sm="6" size-xs="6">Account</ion-col>
    </ion-row>
    <ion-row *ngFor="let currentBank of BankNav" (click)="BankClick(currentBank.Id)">
      <ion-col [appBorderControl]="'Grid,row'" size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="6" offset-lg="3" offset-md="2" offset-xl="4">{{currentBank.Name}}</ion-col>
      <ion-col [appBorderControl]="'Grid,row'" size-lg="3" size-md="4" size-sm="6" size-xs="6">{{currentBank.AccountCode}}</ion-col>
    </ion-row>
  </app-grid-view>
</ion-content>
